{% extends "base.html" %}
{% load static %}
{% block title %}Post Table{% endblock %}
{% block content %}

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script>const postListUrl = '{{ post_list_url|escapejs }}'</script>
    <script type="text/babel" src="{% static 'blog/blog.js' %}"></script>
{% endblock %}
