{% extends "rest_framework/base.html" %}

{% block title %}
  {% if name %}
    {{ name }} –
  {% endif %}
  Blango REST API
{% endblock %}

{% block branding %}
    <a href="/" class="navbar-brand">
        Blango REST API
    </a>
{% endblock %}

{% block style %}
    {{ block.super }}
    <style>
        div .navbar {
            border-top-color: #1E90FF;
        }
    </style>
{% endblock %}

{% block bootstrap_theme %}
    <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css" type="text/css">
{% endblock %}
